
.footer-bottom{
    text-align: center;
}

.text-top{
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-color:#419488;
    border-radius: 50%;
    margin-right: 5px;
    display: none;
}

.head-portrait{
    padding: 12px;
    padding-left: 38px;
}

.iconfont,
.layui-icon {
    margin-right: 10px;
}

.layui-icon{
    margin-left: 20px;
}

.layui-body{
    overflow: hidden;
}

.userinfo{
    font-size: 13px;
}